.description {
  flex: 1;
  display: flex;
  gap: 20px;

  @media screen and (max-width: 728px) {
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }

  &__ability {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 25px;
    padding: 0 10px;

    &--information {
      display: flex;
      align-items: center;
      gap: 20px;
      color: #FFFFFF;
      padding-top: 10px;
      padding-bottom: 10px;

      .info {
        flex: 1;
        h3 {
          margin-bottom: 10px;
        }
        p {
          padding: 0;
          margin: 0;
        }
      }
    }
  }

  &__image {
    color: #FFFFFF;
    text-align: center;

    h2 {
      font-size: 30px;
    }

    img {
      border-radius: 25px;
    }
  }
}

.lore {
  color: #FFFFFF;

  h2 {
    text-align: center;
    font-size: 30px;
  }

  p {
    padding: 0 20px;
    font-size: 20px;
  }
}